parameters:
    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Parameter #2 \$message of method Symfony\\Component\\HttpFoundation\\Session\\Flash\\FlashBagInterface::add\(\) expects string, array<string, array<string, string>|string> given\./'
